{% extends "layouts/base.html" %}
{% load static %}
{% block title %} search result {% endblock title %}
{% block stylesheets %}
<style>
        table, td, th {
        border: 1px solid;
        border-collapse: collapse;
        padding: 5px;
        }


</style>
{% endblock stylesheets %}
{% block content %}
<table>
        <thead>
                <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Price</th>
                        <th>Edition</th>
                </tr>
        </thead>
        <tbody>
                {% for obj in books %}
                {% if obj.id > 0 %}
                <tr>
                <th>{{obj.id}} </th>
                <th>{{obj.title}} </th>
                <th>{{obj.author}} </th>
                <th>{{obj.price}} </th>
                <th>{{obj.edition}} </th>
                </tr>
                {%endif %}
                {% endfor %}
        </tbody>
</table>
    {% endblock content %}